body,
html {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 105.73vw;

    img {
        width: 100%;
        height: 100%;
    }

    .pic1 {
        position: relative;
        width: 100vw;
        height: 56.28vw;

        .img1 {
            position: absolute;
            top: 7.51vw;
            left: 28.8vw;
            width: 42.35vw;
            height: 8.93vw;
        }

        .box {
            width: 47.19vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 21.49vw;
            left: 26.43vw;
            font-family: Poppins-SemiBold;
            font-size: 1.68vw;
            line-height: 2vw;
            letter-spacing: -0.03vw;
            color: #f2f2f2;
            text-align: center;

            .b1 {
                width: 18.5vw;
                height: 9.09vw;
                line-height: 9.09vw;
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 0.63vw;
                backdrop-filter: blur(10px);
            }

            .b2 {
                width: 9.14vw;
                height: 9.09vw;
                line-height: 9.09vw;
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 0.63vw;
                backdrop-filter: blur(10px);
            }

            .b3 {
                width: 18.55vw;
                height: 9.09vw;
                line-height: 9.09vw;
                background-color: rgba(255, 255, 255, 0.05);
                border-radius: 0.63vw;
                backdrop-filter: blur(10px);
            }
        }

        .wz1 {
            position: absolute;
            top: 35.89vw;
            left: 33.11vw;
            font-family: Poppins-SemiBold;
            font-size: 1.68vw;
            line-height: 2vw;
            letter-spacing: -0.03vw;
            color: #f2f2f2;
            text-align: center;
        }
    }

    .pic2 {
        position: relative;
        width: 100vw;
        height: 49.45vw;

        .wz1 {
            position: absolute;
            top: 5.47vw;
            left: 32.37vw;
            font-family: Poppins-SemiBold;
            font-size: 3.99vw;
            line-height: 1.58vw;
            letter-spacing: -0.08vw;
            color: #000000;
        }

        .wz2 {
            position: absolute;
            top: 11.14vw;
            left: 38.68vw;
            font-family: Poppins-SemiBold;
            font-size: 1.68vw;
            line-height: 2vw;
            letter-spacing: -0.03vw;
            color: #000000;
        }

        .box1 {
            position: absolute;
            top: 17.5vw;
            left: 12.24vw;
            // padding: 17.5vw 0 0 12.24vw;
            display: flex;
            width: 75.62vw;
            height: 26.27vw;
            background-color: #f5f5f7;
            border-radius: 0.63vw;
            text-align: center;
            font-family: Poppins-SemiBold;
            font-size: 1.68vw;
            line-height: 2vw;
            letter-spacing: -0.03vw;
            color: #000000;

            .pic1 {
                padding-top: 2.84vw;
                width: 25.2vw;

                img {
                    width: 12.09vw;
                    height: 13.4vw;
                    margin-bottom: 1vw;
                }
            }

            .pic2 {
                padding-top: 3.57vw;
                width: 25.2vw;

                img {
                    width: 11.61vw;
                    height: 11.61vw;
                    margin-bottom: 2vw;
                }
                span{
                    margin-top: 1.16vw;
                }
            }

            .pic3 {
                padding-top: 7.51vw;
                width: 25.2vw;

                img {
                    width: 9.93vw;
                    height: 6.88vw;
                    margin-bottom: 2.84vw;
                }
            }
        }
    }
}